language: php

php:
  - 7.0
  - 7.1
  - 7.2
  - 7.3
  - nightly

cache:
    directories:
        - "$HOME/.composer/cache"
env:
  matrix:
    - COMPOSER_FLAGS=""

before_install:
  - sudo apt-get update
  - travis_retry composer self-update
#  - mv phpunit.xml.dist phpunit.xml

install:
  - travis_retry composer update --prefer-source $PREFER_LOWEST

script:
  - phpunit

branches:
  only:
    - master